<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ХЕЛП ПО АПИ</h1>
<br>
http://127.0.0.1:8000/api/v1/help
<br>
<p>
Новости: <p>
    news/?limit=10&offset=0 - список всех новостей  <br>
    news/category/list - список категорий новостей <br>
    news/detail/?id=1 - детали новости <br>
    news/category/?id=4 вывод новостей по категориям <br>
    <br>===========================================<br>
    catalog/category/list вывод каталога список категорий <br>


<p>


</body>
</html>